body{
    box-sizing: border-box;
    background-color: beige;
}

.container{
    background-color: azure;
    padding: 20px;
    margin: 150px 280px;
    /* margin: 190px; */
    /* margin: 190px 350px; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#TXT{
    text-align: center;
}